<div class="thumb-col">
	<div><span class="selected">the store</span></div>
	<div><%= link_to "backstory &amp; photos", "/about/backstory", :class => "nav" %></div>
	<div><%= link_to "sales &amp; shipping", "/about/sales", :class => "nav" %></div>
	<div><%= link_to "press coverage", "/about/press", :class => "nav" %></div>
	<div><%= link_to "show schedule", "/about/schedule", :class => "nav" %></div>
</div>
<div class="text-col">
	<div class="headline">Store hours</div>
	<div>Mo–Fr 11.00–6.00</div>
	<div>Sat 12.00–6.00</div>
	<div class="headline space">Location</div>
	<div>Mondo Cane is located at 174 Duane Street in Tribeca, New York City, between Hudson and Greenwich Streets.</div>
	<div><a href="#" class="inline">map</a></div>
	<div class="headline space">Subway</div>
	<div>Take the 1, 2, 3, A, C lines to Chambers Street Station.</div>
</div>